* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;

  cursor: default;
  user-select: none;

  display: flex;
  flex-direction: column;

  background-color: #000;
  color: #f6f6f6;
}

* {
  scrollbar-width: thin;
}

main ::-webkit-scrollbar {
  width: 5px;
  background-color: #222;
}

main ::-webkit-scrollbar-thumb {
  background-color: #777;
}
